
@font-face {
    font-family: pixelFont;
    src: url(./fonts/Miracode.ttf);
}
#body{
    display: flex;
    background-color: gainsboro;
    justify-content: center;
    background-image: url("./imgs/background.png");
    background-position: center;
    background-size: 125vw 125vh;
    gap: 1em
}
h1, h2, h3{
    font-family: pixelFont;
}
#sketch{
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.35);
    height: 30em;
    width: 30em;
    border: 0.15em solid;
    border-radius: 1em;
}
#sideBar{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#trapaça{
    margin-top: 12em;
    display: flex;
    flex-direction: column;
    color: white;
}
#middleBar{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#rightBar{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#infoPanel{
    background-color: rgba(0, 0, 0, 0.35);
    border: 0.15em solid black;
    border-radius: 1em;
    color: white;
    justify-content: left;
    width: 15em
}
#infoPanel h3{
    margin-left: 1em;
}
#deletebtn{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#topbtn{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#difficulty{
    background: mediumblue;
    padding: 10px;
    border-radius: 15px;
    border-color: mediumblue;
    color: white;
    margin: 20px;
}
#pixel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#subcanvas{
    display: grid;
}
